// http://meyerweb.com/eric/tools/css/reset/
//  v2.0 | 20110126
//  License: none (public domain)

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//END RESET

body {
  background-color: #88d7fc;
  font-family: sans-serif;
  text-align: center;
  font-family: "Lato", sans-serif;

  .App {
    background-color: #88d7fc;
    padding: 40px 40px 40px 40px;
    margin: auto;
    min-height: 100vh;
  }

  h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    max-width: 1000px;
    margin: 0 auto;
  }

  .list-item {
    color: #333;
    padding: 20px 20px 20px 20px;
    background-color: #66ccff;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: left;
    div {
      display: inline-block;
    }
    .item-content-div {
      max-width: 60%;
    }
    .item-content-buttons {
      float: right;
    }
    p {
      font-size: 12px;
      margin-top: 5px;
    }
    h3 {
      font-size: 20px;
      display: inline;
      width: 100px;
    }
    button {
      float: right;
    }
  }
  .category-item {
    color: #333;
    padding: 20px 20px 20px 40px;
    background-color: #66ccff;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: left;
    height: 85px;
  }

  .category-item h3 {
    font-size: 20px;
    display: inline;
    cursor: pointer;
  }

  .category-item button {
    float: right;
  }

  .category-item p {
  }

  .to-do-input {
    font-size: 20px;
    padding: 13px;
    border-style: none;
    width: 70%;
    max-width: 500px;
    margin-bottom: 40px;
  }

  .category-input {
    margin-top: 40px;
    font-size: 20px;
    padding: 13px;
    border-style: none;
    width: 70%;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 20px;
    margin: 15px 0px 15px 0px;
  }

  button {
    background-color: #2b6df2;
    color: white;
    padding: 10px;
    border-style: none;
    margin: 5px 0px 5px 15px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
  }

  .trash-icon {
    height: 14px;
  }

  .delete-list-item {
    background-color: #f48989;
  }

  .fade-enter {
    opacity: 0.01;
  }

  .fade-enter-active {
    opacity: 1;
    transition: opacity 1s;
  }

  .fade-leave {
    opacity: 1;
  }

  .fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .dropbtn {
    // background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
  }

  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content p:hover {
    background-color: #f1f1f1;
  }

  .visibility-button {
    margin: 15px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .green-app {
    background-color: #dbf9dc;
  }

  .blue-app {
    background-color: #8fd6f7;
  }

  .yellow-app {
    background-color: #fcf9ba;
  }

  .purple-app {
    background-color: #e5bafc;
  }
  @media screen and (max-width: 768px) {
  .App {
    padding: 40px 10px 40px 10px;
  }
}
}
