body {
  padding: 50px;
  background-color: #51c2f7;
  font-family: sans-serif;
  text-align: center; }
  body .App {
    background-color: #88d7fc;
    padding: 40px 40px 40px 0px;
    max-width: 70%;
    margin: auto; }
  body ul {
    list-style: none; }
  body .list-item {
    color: #333;
    padding: 20px 20px 10px 40px;
    background-color: #66CCFF;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: left; }
  body .list-item h3 {
    font-size: 26px;
    display: inline;
    background-color: #66CCFF; }
  body .list-item button {
    float: right; }
  body .category-item {
    color: #333;
    padding: 20px 20px 10px 40px;
    background-color: #66CCFF;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: left;
    height: 85px; }
  body .category-item h3 {
    font-size: 26px;
    display: inline;
    cursor: pointer;
    background-color: #66CCFF; }
  body .category-item button {
    float: right; }
  body .to-do-input {
    font-size: 28px;
    padding: 13px;
    border-style: none;
    width: 70%;
    margin-bottom: 40px; }
  body .category-input {
    margin-top: 40px;
    font-size: 28px;
    padding: 13px;
    border-style: none;
    width: 70%;
    margin-bottom: 40px; }
  body button {
    background-color: #2B6DF2;
    color: white;
    padding: 15px;
    border-style: none;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px; }
  body .trash-icon {
    height: 30px; }
  body .delete-list-item {
    background-color: #f48989; }
  body .fade-enter {
    opacity: 0.01; }
  body .fade-enter-active {
    opacity: 1;
    transition: opacity 1s; }
  body .fade-leave {
    opacity: 1; }
  body .fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s; }
  body .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; }
  body .dropdown {
    position: relative;
    display: inline-block; }
  body .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer; }
  body .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
  body .dropdown-content p:hover {
    background-color: #f1f1f1; }
  body .dropdown:hover .dropdown-content {
    display: block; }
  body .dropdown:hover .dropbtn {
    background-color: #3e8e41; }
