body {
  padding: 50px;
  background-color: grey;
  font-family: sans-serif;
  text-align: center;


  .App {
    background-color: #88d7fc;
    padding: 40px 40px 40px 0px;
    max-width: 70%;
    margin: auto;
  }

  ul {
    list-style: none;
  }

  .list-item {
    color: #333;
    padding: 20px 20px 10px 40px;
    background-color: #66CCFF;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: left;
  }

  .list-item h3 {
    font-size: 26px;
    display: inline;
  }

  .list-item button {
    float: right;
  }

  .list-item p {}

  .category-item {
    color: #333;
    padding: 20px 20px 10px 40px;
    background-color: #66CCFF;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: left;
    height: 85px
  }

  .category-item h3 {
    font-size: 26px;
    display: inline;
    cursor: pointer;
  }

  .category-item button {
    float: right;
  }

  .category-item p {}

  .to-do-input {
    font-size: 28px;
    padding: 13px;
    border-style: none;
    width: 70%;
    margin-bottom: 40px;
  }

  .category-input {
    margin-top: 40px;
    font-size: 28px;
    padding: 13px;
    border-style: none;
    width: 70%;
    margin-bottom: 40px;
  }

  button {
    background-color: #2B6DF2;
    color: white;
    padding: 15px;
    border-style: none;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
  }

  .trash-icon {
    height: 30px;
  }

  .delete-list-item {
    background-color: #f48989;
  }

  .fade-enter {
    opacity: 0.01;
  }

  .fade-enter-active {
    opacity: 1;
    transition: opacity 1s;
  }

  .fade-leave {
    opacity: 1;
  }

  .fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
  }

  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content p:hover {
    background-color: #f1f1f1
  }

  .color-box {
    height: 20px;
    width: 20px;
    background-color: green;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .green-app {
    background-color: #98f99a;
  }

  .blue-app {
    background-color: #8fd6f7;
  }

  .yellow-app {
    background-color: #f9f693;
  }

  .purple-app {
    background-color: #d796f7;
  }

  .green-item {
    background-color: #6bf97c;
  }

  .blue-item {
    background-color: #6bcdfd;
  }

  .yellow-item {
    background-color: #f7f14c;
  }

  .purple-item {
    background-color: #ee6cfc;
  }

}